<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
	<title>Profile</title>
</head>
<body>
	<div class="container">
		<%- include('../partials/navbar'); %>
		<section class="header">
			<h2 class="title">Edit Profile</h2>
		</section>
		<div class="section" id="login">
			<% if (locals.error) { %>
			<p class="u-full-width error"><%= error.message %></p>
			<% } %>
			<form action="" method="post">
				<input class="u-full-width" type="email" id="email" name="email" placeholder="email" value="<%= rUser.email %>">
				<% if(locals.user.role == "administrator") { %>
				<select class="u-full-width" id="role" name="role">
					<option value="user" <% if (rUser.role == "user") { %>selected<% } %>>User</option>
					<option value="student" <% if (rUser.role == "student") { %>selected<% } %>>Student</option>
					<option value="administrator" <% if (rUser.role == "administrator") { %>selected<% } %>>Administrator</option>
				</select>
				<% } %>
				<input class="u-full-width" type="password" id="password" name="password" placeholder="new password">
				<input class="u-full-width" type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="confirm password">
				<input class="u-full-width" type="submit" value="Update">
				<a class="button button-danger u-full-width" href="/user/delete/<%= rUser.id %>">Delete Account</a>
			</form>
		</div>
	</div>
</body>
</html>